<!DOCTYPE html>
<html>
 
	<head style="color:#FF0000;">
	Acerca de mí	

	</head>
  <body>

	<h1> Técnico certificado de Apple
	 <img src="https://tctechcrunch2011.files.wordpress.com/2014/06/apple_topic.png?w=220" width=50 heigth=50 
	</h1>
	<h2> Ingles Avanzado </h2>
	<h3> Amplia experiencia en soporte a usuario final</h3>

	<p> Naci en el 11 de Agosto de 1988. Actualmente trabajo en <a href="http://myshop.pe" target="_blank">MyShop</a>, empresa dedicada a la venta y soporte
de productos Apple. Tengo una hija y otra mas por llegar. Lo que mas me gusta hacer es salir a pasear en familia y ver peliculas
siempre y cuando pueda. Mis metas a cumplir en este año son las siguientes:</p>
	
	
	<ol>
		<li> Mejorar mi promedio </li>
		<li> Adquirir mi primer auto</li>
		<li> Ser promovido en mi trabajo</li>
	</ol>


	<h4> Un cover el cual me gusta </h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/szVVCXJ6MgI" frameborder="0" allowfullscreen></iframe>



		
	<style>
	a:hover{text-decoration:bold; color:yellow;}
	
	li{font-size: 26px}

	h1 {
	color: #FF0000

	}
	body{
	background-color: skyblue;}
	</style>


 </body>
</html>